@mixin m-build-component--widget10-base() {
    .m-widget10 { 
        .m-widget10__chart {
            margin-top: 1rem;
            margin-bottom: 3.5rem;
            position: relative;
            canvas {
                @include border-radius(8px);
            } 
        }
        .m-widget10__items {            
            .m-widget10__item {
                .m-widget10__stats {
                    font-size: get-font-size(regular, '+');
                    font-weight: get-font-weight(boldest);                      
                }
                .m-widget10__text {
                    font-size: get-font-size(regular, '-');
                    font-weight: get-font-weight(regular);
                    float: right;
                    margin-top: 0.3rem;
                }
                .progress {
                    margin-bottom: 1.6rem;
                    .progress-bar {
                    }
                }    
            }            
        }
        .m-widget10__desc {
            margin-top: 1.6rem;
            font-size: get-font-size(regular);
            font-weight: get-font-weight(regular);
        }        
    }     	 
} 
@mixin m-build-component--widget10-skin() {
    $skin: get-default-skin();    
    .m-widget10 {
    	.m-widget10__items {
            .m-widget10__stats {
                color: get-color($skin, regular, '-');
            }
    		.m-widget10__text {
                color: get-color($skin, regular, '----');
            }
    	}
    }
}
@include m-build-component--widget10-base();
@include m-build-component--widget10-skin();
